/* Font set up*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto+Mono:100');

body, html {
    font-family: 'Open Sans', sans-serif;
    color: black;
    background-color: #ffff;
}

/* Structure */
.mainContainer {
    max-width: 1200px;
    margin: 0 auto;
}
@media screen and (max-width: 680px) {
    .profileImg {
       display: none;
    }
    .links {
        display: none;
    }
    .tabs ul {
        display: none;
    }
}

@media screen and (min-width: 680px){
    .mobileLinks {
        display: none;
    }
    .mobileMenu {
        display: none;
    }
    .mainTitle h1 {
        display: none
    }
}

.mobileLinks {
    list-style: none;
    padding: 5px;
}

.mobilePicker {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.mobilePicker a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.mobilePicker a:hover {
    color: #f1f1f1;
}

.mobileMenu {
    padding: 10px;
    margin: 10px;
    position: fixed;
    top: 0;
    right: 0;
}

@media screen and (max-height: 450px) {
    .mobilePicker {padding-top: 15px;}
    .mobilePicker a {font-size: 18px;}
}

.no-display {
    display: none;
}

.mainTitle {
    display:flex;
    justify-content: center;
}
.mainTitle h1{
    text-decoration: underline;
    padding: 10px;
    font-size: 30px;
    margin: 0 5px 0 0; 
    color:#FF6978; 
}

.topBar {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Mono', monospace;
    line-height: 5px;
} 

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.hero {
    display: flex;
    border-radius: 5px;    
}

.heroImage {
    display: flex;
    border-radius: 5px;
    align-self: center;
}

.profileImg {
    border-radius: 200px;
    padding: 5%
}

.heroCallout {
    display: flex;  
}

.callout {
    text-align: left; 
    padding: 10%;
}

a {
    text-decoration: none;
    color:#FF6978;
}
a:hover {
    text-decoration: underline
} 

.links a {
    text-decoration: none;
    color:#FF6978;
    padding: 5px;
}

 .links a:hover {
    text-decoration: underline
} 

.tabs {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.tabs ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tabs li {
    font-size: 30px;
    display: inline;
    margin: 0 5px 0 0;  
}

.tabs li a {
    padding: 10px;
    text-decoration: none;
    color:black;
    
}

.tabs a:hover {
    color: #FF6978;
} 

.tabs a.is-active {
    color: #FF6978;
    text-decoration: underline;
}

.mainContentSection {
    margin-left: 30px;
    margin-right: 30px;
}
